!!! 5
%html
  %head
    %title
      Coffee, HAML, &amp; Sass seed
    -# %link{rel:"stylesheet", type:"text/css", href:"css/app.min.css"}
    %link{rel:"stylesheet", type:"text/css", href:"css/app.css"}
  %body
    %p
      You've successfully installed the Coffee, HAML, and Sass seed, feel free to delete this line and get to work!
    -# %script{src:"js/app.min.js"}
    %script{src:"js/app.js"}